<div class="survey-container" [style.background-color]="headerBackgroundColor">
  <app-language-switcher></app-language-switcher>
  
  @if (logoUrl) {
    <div class="logo-container">
      <img [src]="logoUrl" alt="Logo" class="logo">
    </div>
  }
  
  @if (showThankYou) {
    <div class="thank-you-message">
      <h2>{{ translations.thankYouTitle }}</h2>
      <p>{{ translations.thankYouMessage }}</p>
    </div>
  } @else if (surveyModel) {
    <survey [model]="surveyModel"></survey>
  } @else {
    <div class="loading">{{ translations.loading }}</div>
  }
</div>
